#ad-section {
    .container {
        z-index: 5;
        position: relative;
    }
    position: relative;
    z-index: 2;
    padding: 120px 0;
    margin-bottom: 100px;
    @include xl-min {
        margin-top: 100px;
    }

    &::before {
        position: absolute;
        width: 50%;
        height: 100%;
        background: url(../images/mobile-bg.png) no-repeat -50px 0 / cover;
        left: 0;
        z-index: 1;
        content: " ";
        bottom: 0px;
        @include lg-max {
            display: none;
        }
    }

    &::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(270deg, #FF3B80 0%, #BF3FA4 100%);
        transform: rotateY(-180deg);
    }


    h2 {
        font-size: 40px;
        color: $white;
        line-height: 40px;
        font-weight: 700;
    }

    p {
        font-weight: 600;
        font-size: 22px;
        line-height: 40px;
        color: rgba(#fff, .5);
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .ad-images {
        img {
            margin-top: 5px;
            margin-bottom: 5px;
            &:first-child {
                margin-right: 5px;
            }
        }
    }
}