/* Common css */

.section-padding {
    padding: 80px 0;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-uppercase {
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.text-bold {
    font-weight: 700;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}
.display-none {
    display: none;
}
