.nearby-destination {
    .nearby-destination-items {
        margin-left: -10px;
        margin-right: -10px;

        .nearby-destination-item {
            float: left;
            width: 20%;
            padding: 0 10px;
            position: relative;
            // transition: .5s;
            &.diff {
                margin-top: -16.5px;
            }
            @include md-max {
                width: 33.333333333333336%;
                margin-bottom: 30px;
            }
            @include tab-max {
                width: 50%;
                margin-bottom: 35px;
                &.diff {
                    margin-top: 0px;
                }
            }
            @include mobile-max {
                float: none;
                max-width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
            &:hover {
                .destination-love-icon {
                    color: #FC3B81;

                }
            }

            .destination-img { 
                img {}
            }

            .destination-love-icon {
                position: absolute;
                top: 15px;
                right: 25px;
                color: $white;

                i.fa {
                    // transition: .5s;
                }
            }

            .destination-content {
                position: absolute;
                bottom: 20px;
                color: #fff;
                letter-spacing: 7px;
                text-align: center;
                width: 100%;
                p.city { 
                    font-family: $secondary-font;
                    font-size: 30px;
                    line-height: 36px;
                }

                p.country { 
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 25px;
                }
            }
        }
    }
}
