.trending-events {
    .custom-gutters {
        @include xl-min {
            margin-right: -8px;
            margin-left: -8px;

            >[class*="col-"] {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
    }

    padding-top: 40px;

    .trending-item {
        position: relative;
        transition: .5s;
        &:hover {
            transform: scale(1.025);
        }
        @include lg-max {
            margin: 15px 0;
        }
        @include mobile-max {
            max-width: 330px;
            margin-left: auto;
            margin-right: auto;
        }

        .trending-img {}

        .trending-content {

            p {
                font-size: 18px;
            }
        }
    }
}